.cuadrado {
  height: 21.5em;
  width: 15em;
  border: 2em 2em;
  border-style: ridge;
  border-color: gray;
  text-align: center;
  

}

img {
  width: 5em;
  padding-top: 1em;
}

h1 {
  font-size: 1.2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #696969;
}

#emailID{
  border-radius: 5px 5px 0px 0px;
  border-width: 1px;
  border-bottom: 0px;
  border-top-style: solid;
  border-color: gray;
  padding: 0.8em 0.7em;
}


#passId{
    border-radius: 0px 0px 5px 5px;
    border-width: 1px;
    border-top-style: solid;
    border-color: gray;
    padding: 0.8em 0.7em;
    margin-bottom: 0.9em;
  }

  #entrarBton{
    background-color: #17214D;
    color: white;
    padding: 0.8em 5em;
    border-radius: 0.3em;
    margin-bottom: 1.6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }

  #olvideBton{
    border-radius: 1.2em;
    background-color: white;
    border-width: 1px;
    border-color: #696969;
    font-size: 0.6em;
    padding: 0.4em 1em;

  }