.cuadrado {
  height: 24em;
  width: 15em;
  border: 2em 2em;
  border-style: solid;
  border-color: gray;
  text-align: center;
}

img {
  width: 7em;
  padding-top: 1em;
}

h1 {
  font-size: 1.2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #696969;
}

#emailID{
  border-radius: 5px 5px 0px 0px;
  border-width: 1px;
  border-bottom: 0px;
  border-top-style: solid;
  border-color: gray;
  padding: 0.8em 0.8em;
}


#passId{
    border-radius: 0px 0px 5px 5px;
    border-width: 1px;
    border-top-style: solid;
    border-color: gray;
    padding: 0.8em 0.8em;
    margin-bottom: 0.9em;
  }
