  .cuadrado{
        height: 400px;
        width: 300px;
        border: 2em 2em;
        border-style: solid;
        border-color: gray;
        text-align: center;
    }

    img{
        width: 9em;
        padding-top: 1em;
    }

    h1{
        font-size: 2em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: gray;
    }

